/ConditionOdd_Even.class
/MultiplyPrinting.class
/SeriesOfaddition.class
/FindDataType.class
/StringCapsLtr.class
/SubString.class
/StringPelindrom.class
/Anagram.class
/SplitReplace.class
/ArraysSortingExample.class
/TwoArraysum.class
/StringCharAdd.class
/Practice.class
/HashMapPractice.class
/HasMapKeycounts.class
/ShortAscDesc.class
/Reverse.class
/EvenOdd.class
/Continue_Break.class
/SwitchCase.class
/Switch2Exm.class
/StringReverse.class
/StringPalindrom.class
/StringPalindrome.class
/PrimeNumber.class
