/ConditionOdd_Even.class
/MultiplyPrinting.class
/SeriesOfaddition.class
/FindDataType.class
/StringCapsLtr.class
/SubString.class
/StringPelindrom.class
/Anagram.class
/SplitReplace.class
/ArraysSortingExample.class
/TwoArraysum.class
